<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Geometric shape classification </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Geometric Shape Classification</h1>
    <div id="main_container">
        <div id="canvas_container">
            <h2>Draw a form </h2>
            <div>
                <canvas width="400" height="400" id="canvas"></canvas>
            </div>
            <a name="img" id="link" style="display:none"></a>
        </div>
        <div id="prediction">
            <h2>Prediction is </h2>
            <span id="class_prediction">  </span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>